@{
    ViewData["Title"] = "Test runner";

    // TODO: Support for running a single test (not just All)
    // TODO: Show status of top test
    // TODO: Maybe: Mini version of live stats on index
}
@* ReSharper disable UnknownCssClass *@

@* Top navigation *@
<nav class="level mt-2">
    <div class="level-left">
        <div class="level-item">
            <button id="start-button" class="button is-primary" onclick="Site.Tests.start()">
                <span>Start test</span>
                <i class="fas fa-spin fa-spinner is-hidden"></i>
            </button>
        </div>
    </div>

    <div class="level-right">
        <div class="dropdown is-right" onclick="this.classList.toggle('is-active')">
            <div>
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>History</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div id="history-dropdown-content" class="dropdown-content">
                </div>
            </div>
        </div>
    </div>
</nav>

@* Root element for dynamic test rendering *@
<div id="tests"></div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("renderer-script");
        await Html.RenderPartialAsync("tests-script");
    }
    
    @* Support for reloading page *@
    <script>
        Site.Tests.maybeResume();
    </script>
}